<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiu.base.sample">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.GalleryActivity" />
        <activity android:name=".ui.article.ArticleFeedActivity" />
        <activity android:name=".ui.KeepAliveActivity" />
        <activity android:name=".ui.SystemStateActivity" />
        <activity android:name=".aidl.AidlReceiverActivity" />
        <activity android:name=".editable.EditableActivity" />
        <activity android:name=".ui.DataBaseActivity" />
        <activity android:name=".ui.NetworkActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.PageFrameActivity" />
        <activity android:name=".thread.ThreadActivity" />

        <service
            android:name=".aidl.AIDLService"
            android:exported="true"
            android:process="com.qiu.aidl.service">
            <intent-filter>
                <action android:name="qiu.aidl.service" />
            </intent-filter>
        </service>
        <service android:name=".ui.ForegroundService" />

        <receiver android:name=".test.MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bwkj.qcxbm.widget.UPDATE_ALL" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />
        </receiver>
    </application>
</manifest>
